<div class="container containerClass">
  <app-header></app-header>
  <div class="row">
    <div class="col-md-2">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of inboxData; let i = index" [routerLink]="['/viewMail', data.id]">
              <td>{{ i + 1 }}</td>
              <td>
                {{ data.firstName }} {{ data.lastName }} {{ data.subject }}
              </td>
              <td>{{ data.createdAt }}</td>
          </tr>
          <div *ngIf="inboxData.length == 0">No Record Found</div>
        </tbody>
      </table>
    </div>
  </div>
</div>
